In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_members = pd.read_csv('../data/members.csv')

In [3]:
df_members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [7]:
df_members['registration_init_time'] = pd.to_datetime(df_members['registration_init_time'])
df_members['expiration_date'] = pd.to_datetime(df_members['expiration_date'])

In [9]:
df_members['df_membership_days'] = df_members['expiration_date'].subtract(df_members['registration_init_time']).dt.days.astype(int)

df_members['registration_year'] = df_members['registration_init_time'].dt.year
df_members['registration_month'] = df_members['registration_init_time'].dt.month
df_members['registration_date'] = df_members['registration_init_time'].dt.day

df_members['expiration_year'] = df_members['expiration_date'].dt.year
df_members['expiration_month'] = df_members['expiration_date'].dt.month
df_members['expiration_date'] = df_members['expiration_date'].dt.day

In [10]:
df_members.to_csv('../data/processed/df_members.csv',index=False)