In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_song_extra = pd.read_csv('../data/song_extra_info.csv')

In [7]:
# 歌名的长度，国家
df_song_extra['song_name_length'] = df_song_extra['name'].apply(lambda x: len(str(x)))
df_song_extra['song_country'] = df_song_extra['isrc'].apply(lambda x: str(x)[:2])

In [8]:
df_song_extra.head()

,song_id,name,isrc,name_length,song_name_length,song_country
0,LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=,我們,TWUM71200043,2,2,TW
1,ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=,Let Me Love You,QMZSY1600015,15,15,QM
2,u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=,原諒我,TWA530887303,3,3,TW
3,92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=,Classic,USSM11301446,7,7,US
4,0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=,愛投羅網,TWA471306001,4,4,TW